body{
    background-color: #010101;
    color: aliceblue;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{
height: 500px;
width: 100%;
 background-color: #212121;
 border-radius: 15px;
 display: flex;
 text-align: center;
 justify-content: center;
 flex-direction: column;
}
.section1{
    display: flex;
    justify-content: space-evenly;
    align-items:center ;
    margin: 25px;
}
.bank  {
   text-align: center;
   margin-top: -40px;
   font-size: 78px;
  
}

.deposit{
    height: 150px; 
   width: 300px;
   background-color:#00B5EF ;
   border-radius: 10px;
color: #010101;
font-weight: 1000;
border: 2px solid white;
  
}
.withdraw{
    height: 150px; 
    width: 300px;
    background-color:#292075 ;
    border-radius: 10px;
 color: #fcfafa;
 font-weight: 1000;
 border: 2px solid white;
}
.total{
    height: 150px; 
    width: 300px;
    background-color:#2ff802 ;
    border-radius: 10px;
 color: #010101;
 font-weight: 1000;
 border: 2px solid white;
}
input{
    border-radius: 10px;
    outline: none;
    width: 400px;
    height: 20px;
    font-weight: 700;
    font-size: 18px;
}
button{
    background-color: yellow;
    color: black;
    height: 25px;
    width: 100px;
    border-radius: 10px;
    font-weight: 800;
    
}
.section2{
    display: flex;
    justify-content: space-around;
    font-size: 29px;
    font-weight: 700;
}