body{
    background-color: aqua;
    color: black;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    gap: 50px;
    margin: 50px;
}
button{
    color: aqua;
    background-color: black;
}