body{
    background-color: black;
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.conatiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
font-size: 25px;
}
h1{
    font-size: 55px;
}
button{
    font-weight: 800;
}