body{
    background-color: #212121;
    color: aliceblue;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
   
}
button{
    height: 100px;
    width: 500px;
    font-size: 35px;
    margin: 165px;
    border-radius: 10px;
}
